[submodule "AppPrototypes/Android/PhoneGap1"]
	path = AppPrototypes/Android/PhoneGap1
	url = https://github.com/cEhlen/MobileSensingAndroidPhoneGap1
[submodule "AppPrototypes/Android/PhoneGap2"]
	path = AppPrototypes/Android/PhoneGap2
	url = https://github.com/cEhlen/MobileSensingAndroidPhoneGap2
[submodule "AppPrototypes/iOS/PhoneGap"]
	path = AppPrototypes/iOS/PhoneGap
	url = https://github.com/cEhlen/MobileSensingIOS
[submodule "AppPrototypes/Android/SensorData"]
	path = AppPrototypes/Android/SensorData
	url = https://cehlen@github.com/cEhlen/PhoneGapSensorData.git
[submodule "AppPrototypes/Android/SensorCSV"]
	path = AppPrototypes/Android/SensorCSV
	url = https://cehlen@github.com/cEhlen/PhoneGapSensorCSV.git
