doctype 5
html
  head
    title Live+Gov Data Inspector
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", type="text/css", href="/stylesheets/bootstrap.min.css")
  body
    input(type="text", placeholder="KKJ X")#kkjx
    input(type="text", placeholder="KKJ Y")#kkjy
    button.btn.btn-primary#conv Convert
    label#latlon Test
    script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    script(type="text/javascript", src="javascripts/convert.js")
    script(type="text/javascript", src="javascripts/convPage.js")