doctype 5
html
  head
    title Live+Gov Data Inspector
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", type="text/css", href="/stylesheets/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", type="text/css", href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css")
    link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet-0.6.2/leaflet.css')
  body
    div.container-fluid
        block content
    script(type="text/javascript", src="http://cdn.leafletjs.com/leaflet-0.6.2/leaflet.js")
    script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js")
    script(type="text/javascript", src="javascripts/bootstrap.min.js")
    script(type="text/javascript", src="javascripts/jquery.flot.js")
    script(type="text/javascript", src="javascripts/jquery.flot.time.min.js")
    script(type="text/javascript", src="javascripts/jquery.flot.selection.min.js")
    script(type="text/javascript", src="javascripts/datetimepicker.js")
    script(type="text/javascript", src="javascripts/map.js")
    script(type="text/javascript", src="javascripts/api.js")