<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.liveandgov.sensorcollectorapi"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.WAKE_LOCK" >
    </uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" >
    </uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.VIBRATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
<!--         <activity
            android:name="eu.liveandgov.sensorcollectorapi.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> -->
        <service android:name="SensorCollectorAPIService">
            <intent-filter>
                <action android:name="eu.liveandgov.sensorcollectorapi.intent.action.SERVICE_START" />
                <action android:name="eu.liveandgov.sensorcollectorapi.intent.action.SERVICE_STOP" />
                <action android:name="eu.liveandgov.sensorcollectorapi.intent.action.SAMPLING_ENABLE" />
                <action android:name="eu.liveandgov.sensorcollectorapi.intent.action.SAMPLING_DISABLE" />
                <action android:name="eu.liveandgov.sensorcollectorapi.intent.action.SAMPLESTORAGE_ENABLE" />
                <action android:name="eu.liveandgov.sensorcollectorapi.intent.action.SAMPLESTORAGE_DISABLE" />
                <action android:name="eu.liveandgov.sensorcollectorapi.intent.action.SAMPLETRANSFER_ENABLE" />
                <action android:name="eu.liveandgov.sensorcollectorapi.intent.action.SAMPLETRANSFER_DISABLE" />
                <action android:name="eu.liveandgov.sensorcollectorapi.intent.action.SAMPLETRANSFER_TRIGGER" />
                <action android:name="eu.liveandgov.sensorcollectorapi.intent.action.SAMPLEBROADCAST_ENABLE" />
                <action android:name="eu.liveandgov.sensorcollectorapi.intent.action.SAMPLEBROADCAST_DISABLE" />
<!--            <action android:name="eu.liveandgov.sensorcollectorapi.intent.action.CHANGE_CONFIG" /> -->
                <action android:name="eu.liveandgov.sensorcollectorapi.intent.action.GET_STATUS" />
                <action android:name="eu.liveandgov.sensorcollectorapi.intent.action.ANNOTATE" />
                <action android:name="eu.liveandgov.sensorcollectorapi.intent.action.LOGGING_ENABLE" />
                <action android:name="eu.liveandgov.sensorcollectorapi.intent.action.LOGGING_DISABLE" />                
            </intent-filter>
        </service>
        
        <service
            android:name="de.unikassel.android.sdcframework.app.scheduler.ScheduleService">
<!--             android:description="@string/sdc_schedule_service_description"
            android:icon="@drawable/icon"
            android:label="@string/sdc_schedule_service_label"> -->
            <intent-filter>
                <action android:name="de.unikassel.android.sdcframework.intent.action.sdcfScheduledAction"/>
            </intent-filter>
        </service>

        <service
            android:name="de.unikassel.android.sdcframework.app.SDCServiceImpl">
<!--             android:description="@string/sdc_service_description"
            android:exported="true"
            android:icon="@drawable/icon"
            android:label="@string/sdc_service_label" > -->
            <intent-filter>
                <action android:name="de.unikassel.android.sdcframework.app.facade.ISDCService"/>
            </intent-filter>
        </service>
        
        <provider
            android:name="de.unikassel.android.sdcframework.provider.TwitterProvider"
            android:authorities="de.unikassel.android.sdcframework.provider.twitterprovider"
            android:enabled="true"
            android:exported="true" >
        </provider>
        
        <provider
            android:name="de.unikassel.android.sdcframework.provider.AudioProvider"
            android:authorities="de.unikassel.android.sdcframework.provider.sndrecordlocprovider"
            android:enabled="true"
            android:exported="true" >
        </provider>
        
        <provider
            android:name="de.unikassel.android.sdcframework.provider.TagProvider"
            android:authorities="de.unikassel.android.sdcframework.provider.tagsprovider"
            android:enabled="true"
            android:exported="true" >
        </provider>
        
    </application>

</manifest>